        body {
            display: flex;
            justify-content: center;
            font-family:cursive;
            font-weight: bolder;
            background-color: cornsilk;
        }
        .container {
            text-align: center;
            width: 100%;
        }
        #box{
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
        }
        .content{
            background-color: #b6aea7;
            width: 30%;
            padding: 50px 15px 15px 15px; 
            border: 3px solid black;
            position: relative;
            font-size: 17;
            margin-left: 30px;
        }
        .header {
            position: absolute;
            top: 0;
            right: 0;
        }
        .headingChicken{
            background-color: palevioletred;
            border: 3px solid black;
            border-right: none;
            border-top: none;
            color: black;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            width:100px;
        }
        .headingBeef{
            background-color: rgb(168, 25, 25);
            border: 3px solid black;
            border-right: none;
            border-top: none;
            color: white;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            width:100px;
        }
        .headingSushi{
            background-color: rgb(233, 224, 53);
            border: 3px solid black;
            border-right: none;
            border-top: none;
            color:black;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            width:100px;
        }
        @media (min-width: 992px){
            .content{
                float: left;
                margin-right: 20px;
            }
        }
        @media (min-width: 768px) and (max-width: 991px){
            #box{
                display: flex;
                flex-wrap: wrap;
            }
            .content {
                float: left;
               
                margin-bottom: 20px;
            }
            .content:nth-child(3) {
                width: 100%; 
            }
        }

        @media (max-width: 767px){
            #box{
                display: flex;
                flex-wrap: wrap;
            }
            .content {
                float: left;
                width: 100%;
                margin-bottom: 20px;
            }
        }